# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env


# https://storage.googleapis.com/opensea-prod.appspot.com/puffs/3
# 0xD6B6Dc50885f2c83e2eAE6d652596bEc886d27ae

